@font-face {
    font-family: Azonix;
    src: url("../Fonts/Azonix.otf") format("truetype");
}

@font-face {
    font-family: samsungsharp;
    src: url("../Fonts/SamsungSharpSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: samsungone;
    src: url("../Fonts/samsungone-400-webfont.woff2") format("woff2"), url("../Fonts/samsungone-400-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: samsungone;
    src: url("../Fonts/samsungone-700-webfont.woff2") format("woff2"), url("../Fonts/samsungone-700-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}


/* ========= Colors ========= */

:root {
    --black: #222;
    --white: #fff;
    --default: #0751a5;
    --orange: #ff7417;
    --yellow: #d1b307;
    --grey: #a0a3ad;
    --grey2: #f9fafd;
    --warn: #e71247;
}

* {
    color: #ffffff;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background-color: #000000;
    scroll-behavior: smooth;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231e001e' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23320032'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

nav {
    /* font-family: Azonix; */
    font-family: samsungone, tahoma;
    font-weight: 700;
    position: fixed;
    height: 8vh;
    width: 100vw;
    top: 0%;
    background-color: #131418a1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 10;
}


/*Styling logo*/

.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    position: relative;
    top: 11%;
    height: 2.7rem;
    width: 13rem;
    transform: translate(70%, 0%);
}


/*Styling Links*/

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-left: 10%;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    margin: 0 0.7vw;
    font-size: 13px;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}

.nav-links li:nth-child(7) {
    /* padding-right: 2.5vw; */
    border-right: 2px groove white;
}

.nav-links li:nth-child(8) {
    margin-left: -0.8vw;
    /* border-right: 2px groove white; */
}

.nav-links li:nth-child(7):hover {
    pointer-events: none;
    user-select: none;
    cursor: none;
}


/*Styling Buttons*/

.login-button {
    background-color: transparent;
    border: 0.2vh solid #f2f5f7;
    padding: 0.7vh 1vw;
    border-radius: 0.55em;
    font-family: samsungone, tahoma;
    font-weight: 700;
    font-size: 2.5vh;
    color: white;
    cursor: pointer;
    margin-left: 3rem;
}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.cart_icon {
    width: 12%;
    margin-left: 1rem;
    padding: 0vh 0.2vw;
}

.cart_icon:hover {
    background-color: rgb(192, 56, 63);
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    transition: all ease-in-out 350ms;
}


/*Styling Hamburger Icon*/

.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*Stying for small screens*/

@media screen and (max-width: 1076px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .cart_icon {
        position: fixed;
        width: 8%;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        /* padding-right: 2.5vw; */
        border-right: 0px;
        border-bottom: 2px groove white;
    }
    .login-button {
        margin-left: 0.4rem;
        border-radius: 0.5em;
        padding: 0.7vh 1.8vw;
    }
    li.fade {
        opacity: 1;
    }
}

.vl {
    border-left: 6px solid rgb(255, 255, 255);
    height: 1700px;
    position: absolute;
    left: 60%;
    margin-left: -3px;
    top: 10%;
    border-radius: 20px;
}

.header {
    display: block;
    transform: translate(10%, 50%);
}

.header h1 {
    font-size: 6vh;
}

.text_box {
    border: 2px solid rgb(197, 46, 46);
    border-radius: 5px;
    background-color: rgb(197, 46, 46);
    width: 35vw;
    padding-left: 20px;
}

.setup_config {
    display: block;
    transform: translate(65%, -50%);
}

select {
    color: black;
    width: 17vw;
    height: 3vh;
    border-radius: 5px;
    padding-left: 10px;
}

option {
    color: black;
}

.ram select {
    width: 10%;
}

.freq select {
    position: relative;
    width: 10%;
}

.freq {
    transform: translate(11%, -128%);
}

.selected_conf input {
    color: rgb(255, 253, 253);
    background: transparent;
}

.selected_conf {
    background-color: rgb(177, 34, 34);
    width: 20%;
    padding-left: 15px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 20px;
    transform: translate(320%, 0%);
}

.fps {
    border: 2px solid rgb(72, 255, 0);
    width: 10%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 7%;
}

.games {
    transform: translate(14%, -105%);
}

.gameName {
    margin-top: 34px;
}

.benchmark_results {
    transform: translate(10%, -30%);
}

.gameSettings {
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    width: 33%;
}

.gameSettings h3 {
    line-height: 1.8;
}

.setup_config input {
    position: relative;
    color: black;
    width: 7%;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(161, 219, 75);
    top: -5vh;
}

.platform_heading {
    transform: translate(64%, -100%);
}


/* Cart */

.cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 2;
}

.cart {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 60%;
    height: 80%;
    padding: 1.6rem;
    border-radius: 2rem;
    z-index: 3;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.cart.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    background-color: #111111;
}

.cart__overlay.show {
    visibility: visible;
}

.close__cart {
    cursor: pointer;
}

.close__cart svg {
    fill: var(--white);
    transition: all 300ms ease-in-out;
}

.close__cart:hover svg {
    fill: var(--warn);
}

.cart svg {
    width: 1.8rem;
    height: 1.8rem;
}

.cart h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.cart__item svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--orange);
}

.cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 70%;
    margin: 2rem auto;
}

.cart__item div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__item div span {
    cursor: pointer;
}

.cart__item img {
    width: 9.5rem;
    height: 9.5rem;
}

.cart__item h3 {
    color: white;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.cart__item .price {
    color: var(--orange);
    font-weight: 700;
}

.cart__item p {
    font-weight: 700;
}

.cart__item .remove__item {
    cursor: pointer;
}

.cart__item .remove__item svg {
    fill: var(--warn);
}

@media only screen and (max-width: 1350px) {
    .cart__item {
        width: 100%;
    }
}

@media only screen and (max-width: 996px) {
    .cart__item {
        grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
    }
    .cart__item h3 {
        font-size: 1.7rem;
    }
    .cart__item .remove__item svg {
        width: 1.6rem;
        height: 1.6rem;
    }
    .cart__item img {
        width: 7.5rem;
        height: 7.5rem;
    }
}

.shopnowbtn:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    border-color: rgb(255, 57, 43);
    cursor: pointer;
}

.cart__footer {
    text-align: center;
    margin-bottom: 3rem;
    transition: 0.3s;
}

.cart__footer h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.cart__footer .btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    background-color: var(--orange);
    border: none;
    margin-top: 2rem;
    font-family: samsungsharp, Times, serif;
    color: #000000;
    font-weight: bold;
    border-radius: 17px;
    border: 2px groove yellow;
    transition: 0.5s;
}

.cart__footer .btn:focus {
    outline: none;
}

.cart__footer .btn:hover {
    background-color: rgb(10, 10, 10);
    border: 2px groove rgb(223, 13, 13);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

@media only screen and (max-width: 567px) {
    .cart {
        width: 100%;
        height: 100%;
        border-radius: 0rem;
    }
    .cart__item h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .btn {
        padding: 0.8rem 1.5rem;
        font-size: 1.6rem;
    }
}

.products,
.product__center {
    position: absolute;
    transform: translate(-9999px, -9999px);
}

.footer-section {
    display: flex;
    background: #151414;
    position: relative;
    transform: translate(0%, -0%);
    overflow: hidden;
    height: 30vh;
}

.footer-content {
    position: relative;
    top: 10%;
}

.footer-logo {
    margin-bottom: 30px;
    position: relative;
    left: 40%;
}

.footer-logo img {
    max-width: 200px;
}

.footer-widget ul li {
    display: inline-block;
    transform: translate(250%, -300%);
    width: 40%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .footer-widget ul li {
        display: inline-block;
        transform: translate(50%, 0%);
        width: 40%;
        margin-bottom: 12px;
    }
    .footer-section {
        display: flex;
        background: #151414;
        position: relative;
        transform: translate(0%, 150%);
        height: 50vh;
    }
}

.bruh {
    height: 60%;
}

.bruh1 {
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {}