@font-face {
    font-family: ShareTechMono;
    src: url("../Fonts/ShareTechMono-Regular.ttf") format("truetype");
    font-display: fallback;
}

@font-face {
    font-family: Azonix;
    src: url("../Fonts/Azonix.otf") format("truetype");
    font-display: fallback;
}

@font-face {
    font-family: "samsungsharp";
    src: url("../Fonts/samsung/SamsungSharpSans-Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "samsungone";
    src: url("../Fonts/samsung/samsungone-400-webfont.woff2") format("woff2"), url("../Fonts/samsung/samsungone-400-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "samsungone";
    src: url("../Fonts/samsung/samsungone-700-webfont.woff2") format("woff2"), url("../Fonts/samsung/samsungone-700-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}