        @font-face {
            font-family: ShareTechMono;
            src: url("../Fonts/ShareTechMono-Regular.ttf") format("truetype");
            font-display: fallback;
        }
        
        @font-face {
            font-family: Azonix;
            src: url("../Fonts/Azonix.otf") format("truetype");
            font-display: fallback;
        }
        
        @font-face {
            font-family: samsungsharp;
            src: url("../Fonts/SamsungSharpSans-Bold.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;
            font-display: fallback;
        }
        
        @font-face {
            font-family: samsungone;
            src: url("../Fonts/samsungone-400-webfont.woff2") format("woff2"), url("../Fonts/samsungone-400-webfont.woff") format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: fallback;
        }
        
        @font-face {
            font-family: samsungone;
            src: url("../Fonts/samsungone-700-webfont.woff2") format("woff2"), url("../Fonts/samsungone-700-webfont.woff") format("woff");
            font-weight: 700;
            font-style: normal;
            font-display: fallback;
        }
        /* ========= Colors ========= */
        
         :root {
            --black: #222;
            --white: #fff;
            --default: #0751a5;
            --orange: #ff7417;
            --yellow: #d1b307;
            --grey: #a0a3ad;
            --grey2: #f9fafd;
            --warn: #e71247;
        }
        
        * {
            max-width: 100%;
            color: #ffffff;
            scroll-behavior: smooth;
            box-sizing: border-box;
        }
        
        html {
            overflow-x: hidden;
            /* background-color: #000000; */
            background-color: #000000;
            scroll-behavior: smooth;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231e001e' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23320032'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
        }
        /* ========= Reset ========= */
        
        .landing {
            position: relative;
            transform: translate(0%, 0%);
            height: 80vh;
            width: 100%;
        }
        
        .shopnowbtn {
            margin-top: 2vh;
            background-color: rgb(236, 32, 32);
            font-family: samsungsharp, Times, serif;
            color: #000000;
            font-weight: bold;
            font-size: 25px;
            border-radius: 17px;
            border-color: rgb(241, 255, 43);
            width: 200px;
            height: 60px;
            transition: 0.3s;
        }
        
        .shopnowbtn:hover {
            background-color: black;
            color: white;
            transition: 0.4s;
            border-color: rgb(255, 57, 43);
            cursor: pointer;
        }
        
        .landing-text {
            font-family: ShareTechMono;
            position: relative;
            transform: translate(10%, 40%);
        }
        
        .landing-text h3 {
            font-size: 20px;
        }
        
        .landing-text h4 {
            font-size: 15px;
        }
        
        .landing h1 {
            font-family: Azonix;
            font-size: 50px;
            color: #ffffff;
        }
        
        .landing-page-image {
            position: relative;
            transform: translate(120%, -55%);
            object-fit: scale-down;
            width: 40vw;
            height: 40vh;
        }
        
        .down-icon {
            position: relative;
            transform: translate(210%, 5%);
            width: 3.5vw;
            height: 7vh;
        }
        /* .landing img {
    display: none;
} */
        
        .small-screen {
            display: none;
        }
        
        #hidden {
            display: none;
        }
        
        @media screen and (max-width: 1100px) {
            .landing {
                height: 90vh;
            }
            #stick {
                z-index: -1;
                position: absolute;
                height: 320px;
                width: 500px;
                border-right: 2px ridge rgb(255, 255, 255);
                transform: translate(10%, -60%);
                transition: 0.2s ease-in-out;
            }
            .landing img {
                display: none;
                transition: 0.5s ease-in-out;
            }
            .small-screen {
                display: block;
                position: absolute;
                top: 30vh;
                right: 5vw;
                border-top: 2px ridge rgba(255, 255, 255, 0.171);
                border-bottom: 2px ridge rgba(255, 255, 255, 0.171);
                transition: 0.5s ease-in-out;
            }
            .small-screen h1 {
                font-family: samsungsharp, tahoma;
                font-weight: 700;
                font-size: 18px;
            }
            .small-screen p {
                font-family: samsungone, tahoma;
                font-weight: 700;
                font-size: 20px;
                color: #bb4141;
            }
            .landing img {
                object-fit: cover;
            }
        }
        
        @media screen and (max-width: 1025px) {
            .small-screen {
                right: 2vw;
                transition: 0.5s ease-in-out;
            }
        }
        
        @media screen and (max-width: 990px) {
            .small-screen {
                top: 30vh;
                right: 5vw;
            }
            .small-screen h1 {
                font-size: 17px;
            }
            .small-screen p {
                font-family: samsungone, tahoma;
                font-weight: 700;
                font-size: 12px;
                color: #bb4141;
            }
            #stick {
                transform: translate(-10%, -60%);
            }
        }
        
        @media screen and (max-width: 1076px) {
            .landing img {
                object-fit: cover;
            }
        }
        
        @media screen and (max-width: 877px) {
            #stick {
                display: none;
            }
            .landing-text {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: 8vh;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
            .landing-text h1 {
                font-size: 50px;
            }
            .landing-text h3 {
                font-size: 25px;
            }
            .landing-text h4 {
                font-size: 15px;
            }
            .landing-text button {
                font-size: 25px;
                height: 60px;
                width: 185px;
            }
            .small-screen {
                display: block;
                position: relative;
                transform: translate(5%, 235%);
                border-top: 2px ridge rgba(255, 255, 255, 0.171);
                border-bottom: 2px ridge rgba(255, 255, 255, 0.171);
            }
            .small-screen h1 {
                font-family: samsungsharp, tahoma;
                font-weight: 700;
                font-size: 25px;
                text-align: center;
            }
            .small-screen p {
                font-family: samsungone, tahoma;
                font-weight: 700;
                font-size: 20px;
                color: #bb4141;
                text-align: center;
            }
            #landing-category h1 {
                text-align: center;
            }
            #hidden {
                display: block;
            }
        }
        
        @media screen and (max-width: 572px) {
            .small-screen {
                transform: translate(5%, 207%);
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        
        #landing-category h1 {
            position: relative;
            text-align: center;
            font-family: samsungsharp;
        }
        
        #landing-category {
            width: 90%;
            transform: translate(6%, 0%);
        }
        
        .row {
            position: relative;
            margin: 8px -16px;
            transform: translate(7%, 6%);
            width: 90%;
        }
        
        .text-block {
            position: absolute;
            top: 190%;
            right: 51%;
            background-color: rgb(255, 2, 2);
            padding-left: 1vw;
            padding-right: 1vw;
            border-radius: 20px;
        }
        
        .text-block h4 {
            color: #ffffff;
            font-size: 0.7vw;
        }
        /* Add padding BETWEEN each column */
        
        .row,
        .row>.column {
            padding: 8px;
        }
        /* Create four equal columns that floats next to each other */
        
        .column {
            float: left;
            width: 25%;
        }
        /* Clear floats after rows */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Content */
        
        .content {
            background-color: transparent;
            height: 50vh;
            box-shadow: 0 4px 8px 0 rgba(4, 0, 255, 0.2), 0 6px 20px 0 rgba(0, 16, 245, 0.19);
            cursor: pointer;
        }
        
        .content img {
            height: 50vh;
            object-fit: cover;
        }
        
        .content h3 {
            font-size: 2vw;
            text-align: center;
        }
        /* Responsive layout - makes a two column-layout instead of four columns */
        
        @media screen and (max-width: 900px) {
            .column {
                width: 50%;
            }
            .row {
                transform: translate(0, 0%);
            }
            .content h3 {
                font-size: 25px;
                text-align: center;
            }
            .text-block {
                position: absolute;
                top: 250%;
                right: 5%;
                background-color: rgb(255, 2, 2);
                padding-left: 1vw;
                padding-right: 1vw;
                border-radius: 20px;
            }
            .text-block h4 {
                color: #ffffff;
                font-size: 1.1vw;
            }
        }
        
        @media screen and (max-width: 800px) {
            .column {
                width: 50%;
            }
            .row {
                transform: translate(0, 0%);
            }
            .content h3 {
                font-size: 25px;
                text-align: center;
            }
            .text-block {
                position: absolute;
                top: 250%;
                right: 7%;
                background-color: rgb(255, 2, 2);
                padding-left: 1vw;
                padding-right: 1vw;
                border-radius: 20px;
            }
            .text-block h4 {
                color: #ffffff;
                font-size: 1.2vw;
            }
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
            .row {
                transform: translate(10%, 0%);
            }
            .content h3 {
                font-size: 25px;
                text-align: center;
            }
            .text-block {
                position: absolute;
                top: 2800%;
                right: 11%;
                background-color: rgb(255, 2, 2);
                padding-left: 1vw;
                padding-right: 1vw;
                border-radius: 20px;
            }
            .text-block h4 {
                color: #ffffff;
                font-size: 1.7vw;
            }
        }
        
        #hrline {
            position: relative;
            transform: translate(0%, 20%);
        }
        
        #hrline h1 {
            text-align: center;
        }
        
        #hrline h4 {
            text-align: center;
        }
        
        @media screen and (max-width: 600px) {
            #hrline {
                position: relative;
                transform: translate(0%, 10%);
            }
        }
        
        .row2 {
            position: relative;
            margin: 8px -16px;
            transform: translate(7%, 1200%);
            width: 90%;
        }
        /* Add padding BETWEEN each column */
        
        .row2,
        .row2>.column {
            padding: 8px;
        }
        
        .row2 button {
            background-color: rgb(255, 255, 255);
            padding: 4px 9px;
            color: #000000;
            font-weight: bolder;
            box-shadow: 0 4px 50px 0 rgba(0, 255, 64, 0.2), 0 6px 20px 0 rgba(49, 245, 0, 0.19);
        }
        
        .hr1 {
            width: 90%;
            transform: translate(7%, -3000%);
        }
        
        .recommendations {
            position: relative;
            display: inline-block;
            width: 90%;
            transform: translate(12%, 100%);
        }
        
        .recommendations img {
            width: 45%;
            padding: 0px 50px 0px 0px;
        }
        
        .text-block1 {
            position: absolute;
            top: 67%;
            right: 58.35%;
            background-color: rgb(255, 2, 2);
            padding-left: 1vw;
            padding-right: 6vw;
            z-index: 1;
        }
        
        .text-block1 h4 {
            color: #ffffff;
            font-size: 0.7vw;
        }
        
        .text-block2 {
            position: absolute;
            top: 67%;
            right: 13%;
            background-color: rgb(255, 2, 2);
            padding-left: 1vw;
            padding-right: 6vw;
            z-index: 1;
        }
        
        .text-block2 h4 {
            color: #ffffff;
            font-size: 0.7vw;
        }
        
        @media screen and (max-width: 600px) {
            .recommendations img {
                width: 100%;
                transform: translate(0%, -120%);
            }
            .hr1 {
                width: 90%;
                transform: translate(7%, -30000%);
            }
            .text-block1 {
                position: absolute;
                top: -15%;
                right: 11%;
                background-color: rgb(255, 2, 2);
                padding-left: 1vw;
                padding-right: 1vw;
                z-index: 1;
            }
            .text-block1 h4 {
                color: #ffffff;
                font-size: 1.7vw;
            }
            .text-block2 {
                position: absolute;
                top: 33%;
                right: 11%;
                background-color: rgb(255, 2, 2);
                padding-left: 1vw;
                padding-right: 1vw;
                z-index: 1;
            }
            .text-block2 h4 {
                color: #ffffff;
                font-size: 1.7vw;
            }
        }
        /* Cart */
        
        .cart__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 300ms ease-in-out;
            background-color: rgba(0, 0, 0, 0.7);
            visibility: hidden;
            z-index: 2;
        }
        
        .cart {
            color: rgb(255, 255, 255);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            width: 60%;
            height: 80%;
            padding: 1.6rem;
            border-radius: 2rem;
            z-index: 3;
            overflow-y: scroll;
            opacity: 0;
            visibility: hidden;
            transition: all 300ms ease-in-out;
        }
        
        .cart.show {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            visibility: visible;
            background-color: #111111;
        }
        
        .cart__overlay.show {
            visibility: visible;
        }
        
        .close__cart {
            cursor: pointer;
        }
        
        .close__cart svg {
            fill: var(--white);
            transition: all 300ms ease-in-out;
        }
        
        .close__cart:hover svg {
            fill: var(--warn);
        }
        
        .cart svg {
            width: 1.8rem;
            height: 1.8rem;
        }
        
        .cart h1 {
            text-align: center;
            margin-bottom: 2rem;
            color: white;
        }
        
        .cart__item svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--orange);
        }
        
        .cart__item {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 2fr 1fr 1fr;
            width: 70%;
            margin: 2rem auto;
        }
        
        .cart__item div {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .cart__item div span {
            cursor: pointer;
        }
        
        .cart__item img {
            width: 9.5rem;
            height: 9.5rem;
        }
        
        .cart__item h3 {
            color: white;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }
        
        .cart__item .price {
            color: var(--orange);
            font-weight: 700;
        }
        
        .cart__item p {
            font-weight: 700;
        }
        
        .cart__item .remove__item {
            cursor: pointer;
        }
        
        .cart__item .remove__item svg {
            fill: var(--warn);
        }
        
        @media only screen and (max-width: 1350px) {
            .cart__item {
                width: 100%;
            }
        }
        
        @media only screen and (max-width: 996px) {
            .cart__item {
                grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
            }
            .cart__item h3 {
                font-size: 1.7rem;
            }
            .cart__item .remove__item svg {
                width: 1.6rem;
                height: 1.6rem;
            }
            .cart__item img {
                width: 7.5rem;
                height: 7.5rem;
            }
        }
        
        .shopnowbtn:hover {
            background-color: black;
            color: white;
            transition: 0.4s;
            border-color: rgb(255, 57, 43);
            cursor: pointer;
        }
        
        .cart__footer {
            text-align: center;
            margin-bottom: 3rem;
            transition: 0.3s;
        }
        
        .cart__footer h3 {
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: 1px;
        }
        
        .cart__footer .btn {
            display: inline-block;
            padding: 1.5rem 3rem;
            font-size: 2rem;
            background-color: var(--orange);
            border: none;
            margin-top: 2rem;
            font-family: samsungsharp, Times, serif;
            color: #000000;
            font-weight: bold;
            border-radius: 17px;
            border: 2px groove yellow;
            transition: 0.5s;
        }
        
        .cart__footer .btn:focus {
            outline: none;
        }
        
        .cart__footer .btn:hover {
            background-color: rgb(10, 10, 10);
            border: 2px groove rgb(223, 13, 13);
            color: white;
            transition: 0.5s;
            cursor: pointer;
        }
        
        @media only screen and (max-width: 567px) {
            .cart {
                width: 100%;
                height: 100%;
                border-radius: 0rem;
            }
            .cart__item h3 {
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
            .btn {
                padding: 0.8rem 1.5rem;
                font-size: 1.6rem;
            }
        }
        
        .products,
        .product__center {
            position: absolute;
            transform: translate(-9999px, -9999px);
        }